.loading {
  width: 100wh;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0.9;
}

.loding_spinner {
  font-size: 100px;
  animation: spin 2s linear infinite;
  color: #2485c6;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}